		#circle{
			width: 200px;
			height: 200px;
			position: relative;
			display: inline-block;
		}
		#left,#right{
			width: 50%;
			height: 100%;
			position: absolute;
			overflow: hidden;
		}
		#right{
			left: 50%;
		}
		#left div,#right div{
			width: 160px;
			height: 160px;
			border-radius:50%;
			border: 20px solid transparent; 
			position: absolute;
		}
		#left div{
			border-top:20px solid red;
			border-left:20px solid red;
			transform:rotate(315deg);
			animation: left-spin 8s ease-out; 
		}
		#right div{
			border-right:20px solid red;
			border-bottom:20px solid red;
			left: -101px;
			transform:rotate(315deg);
			animation: right-spin 8s ease-in;
		}
		@keyframes right-spin {
			0%{transform: rotate(135deg);}
			50%,100%{transform: rotate(315deg);}
		}
		@keyframes left-spin {
			0%,50%{transform: rotate(135deg);}
			100%{transform: rotate(315deg);}
		}