		body{
			font-family: "Times New Roman";
		}
		#container{
			margin:0 auto;
			width: 900px;
		}
		#cube{
			background-color: #f5f5f5;
			box-shadow: inset 0 -1px 0 rbga(0,0,0,.15);
			border-radius: 12px;
			width:800px;
			height: 20px; 
		}
		#progressbar{
			height: 100%;
			border-radius: 10px;
			background: linear-gradient(45deg,#5bc0de 30%,#73c9e3 30%,#73c9e3 60%,#5bc0de 60%);
			background-size: 50px 20px; 
			animation: moving 2s linear infinite,going 8s ease-out;
			text-align: center;
			color:#ffffff;
		}
		@keyframes moving{
			0%{background-position:0,0 ;}
			100%{background-position: -50px,0 ;}
		}
		@keyframes going{
			0%{width:0% ;}
			100%{width: 100% ;}
		}
		#circle-cube{
			margin-top: 50px;
			background-color: #f5f5f5;
			width:800px;
			height: 8px;
			border-radius: 4px;
			position: relative;
		}
		#circle-cube div{
			height: 100%;
			width: 100%;
			background-color: green;
			position: absolute;
			border-radius: 4px;
			-webkit-animation: circle-div 10s linear;
			-o-animation: circle-div 10s linear;
			animation: circle-div 10s linear;
		}
		#circle-cube > span{
			height: 24px;
			width: 24px;
			border-radius: 12px;
			background-color: green;
			position: absolute; 
			top:-8px;
		}
		#circle-cube > span:nth-child(2){
			left: -12px;
			animation: span_1 0.15s linear;
		}
		#circle-cube > span:nth-child(3){
			left: 188px;
			animation: span_2 2.65s linear;
		}
		#circle-cube > span:nth-child(4){
			left: 388px;
			animation: span_3 5.15s linear;
		}
		#circle-cube > span:nth-child(5){
			left: 588px;
			animation: span_4 7.65s linear;
		}
		#circle-cube > span:nth-child(6){
			left: 788px;
			animation: span_4 10.15s linear;
		}
		@keyframes circle-div{
			0%{width:0%;}
			100%{width: 100%;}
		}
		@keyframes span_1{
			0%{background-color: #f5f5f5;}
			100%{background-color: green;}
		}
		@keyframes span_2{
			0%,88.68%{background-color: #f5f5f5;}
			100%{background-color: green;}
		}
		@keyframes span_3{
			0%,94.17%{background-color: #f5f5f5;}
			100%{background-color: green;}
		}
		@keyframes span_4{
			0%,96.08%{background-color: #f5f5f5;}
			100%{background-color: green;}
		}
		@keyframes span_5{
			0%,97.04%{background-color: #f5f5f5;}
			100%{background-color: green;}
		}
		#circle{
			width: 200px;
			height: 200px;
			margin-top: 50px;
			position: relative;
			display: inline-block;
			margin-right: 200px; /*布局用*/
		}
		#left,#right{
			width: 50%;
			height: 100%;
			position: absolute;
			overflow: hidden;
		}
		#right{
			left: 50%;
		}
		#left div,#right div{
			width: 160px;
			height: 160px;
			border-radius:50%;
			border: 20px solid transparent; 
			position: absolute;
		}
		#left div{
			border-top:20px solid red;
			border-left:20px solid red;
			transform:rotate(315deg);
			animation: left-spin 8s ease-out; 
		}
		#right div{
			border-right:20px solid red;
			border-bottom:20px solid red;
			left: -101px;
			transform:rotate(315deg);
			animation: right-spin 8s ease-in;
		}
		@keyframes right-spin {
			0%{transform: rotate(135deg);}
			50%,100%{transform: rotate(315deg);}
		}
		@keyframes left-spin {
			0%,50%{transform: rotate(135deg);}
			100%{transform: rotate(315deg);}
		}
		#colorful{
			background-color: #f5f5f5;
			box-shadow: inset 0 -1px 0 rbga(0,0,0,.15);
			width:800px;
			height: 10px; 
			margin-top: 50px;
		}
		#color_pro{
			height: 100%;
			background: linear-gradient(90deg,#903a69 0%,#f5352b 20%,#ffe64e 40%,#4d7b57 60%,#283d90 80%,#903a69 100%);
			background-size: 800px 10px; 
			animation: going 8s ease-out;
			text-align: center;
			color:#ffffff;
		}